<!DOCTYPE html>
<html lang="zh-CH" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
    <div th:replace="_fragments :: menu(0)"></div>
    <div class="m-container-small m-padding-tb-massive">
        <div class="ui error message">
            <div class="ui container">
                <h2>404</h2>
                <p>对不起，你访问的资源不存在</p>
            </div>
        </div>
    </div>
    <div th:replace="_fragments :: footer"></div>
</body>
</html>